*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h5,h5,h6{font-size:inherit;font-weight: inherit;}

:root {
    --primary-color: #222222;
    --secondary-color: #1DBF73;
}
.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
button, input, textarea, select {
    font-family: inherit;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */

header{
    background-color: #F7F6FF;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header__menu{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 4.5%;
    margin-right: 12.5%;
}

.header__menu-link{
    position: relative;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
}

.header__menu-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: var(--secondary-color); /* Замените на нужный цвет */
    transition: transform 0.3s;
}

.header__menu-link:hover::after {
    transform: scaleX(1);
}

.btn-secondary{
    border: 2px solid #F2F0FE;
    border-radius: 50px;
    gap: 10px;
    background: #F2F0FE;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
}

.header-buttons .btn-secondary:hover{
    border-color: var(--secondary-color);
    transition: border-color 0.5s ease;
}

.header-buttons .btn-secondary{
    padding: 10px 30px;
    color: var(--secondary-color);
}

.btn-primary{
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    gap: 10px;
    background: var(--secondary-color);
    color: #F6FAFD;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    
}

.header-buttons .btn-primary{
    padding: 10px 30px;
}

.header-buttons .btn-primary:hover{
    background-color: #F2F0FE;
    color: var(--secondary-color);
    transition: background-color 0.5s ease, color 0.5s;
}

/* HERO */

.hero{
    background: #F7F6FF;
}

.hero .container{
    display: flex;
    justify-content: space-between; 
    gap: 124px;
    padding-bottom: 122px;
}

.hero__text{
    h1{margin-top: 110px;}
    h3{margin-top: 30px;}
    .search-bar{margin-top: 50px;}
    h5{margin-top: 50px;}
    .categories{margin-top: 30px;}
}

h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 43.88px;
    letter-spacing: 5%;
    color: var(--primary-color);
    span{
        color: var(--secondary-color);
    }
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
    letter-spacing: 0%;
    color: var(--primary-color);    
}

.search-bar{
    display: flex;
    width: 523px;
    background: #F2F0FE;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

input{
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    width: 168;
    color: #656084;
    padding: 20px 190px 20px 20px;
    background: #F2F0FE;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-width: 3px;
}

.btn-find{
    background: #FBA457;
    border: 3px solid #F2F0FE;
    color: #F6FAFD;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    border-radius: 50px;
    border-width: 3px;
    padding: 20px 50px;
}

.btn-find:hover{
    border-color: #FBA457;
    background-color: #F6FAFD;
    color: #FBA457;
    transition: border-color 0.5s, background-color 0.5s ease, color 0.5s ease;
}

h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    color: var(--primary-color);
}

.categories{
}

.btn-rubric{
    background-color: transparent; /*прозрачная*/
    margin: 20px 20px 0 0;
    border-radius: 50px;
    border-width: 1px;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid #F2F0FE;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    letter-spacing: 0%;
}

.btn-rubric:hover{
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 600;
    transition: border-color 0.5s ease, color 0.5s ease;
}

.btn-all-rubric{
    color: #FBA457;
    border: 1px solid #FBA457;
}

/* WORKS */

.works{
    h2{margin-top: 120px;}
    .works-grid{margin-top: 48px;}
    p{margin-top: 30px;}
    .btn-secondary{margin: 30px 0 20px 0;}
}

.works-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.work-card{
   width: 420px;
   border: 1px solid #F2F0FE;
   border-radius: 20px;
   padding: 20px;
}

.work-card:hover{
    border-color: var(--secondary-color);
    transition: border-color 0.5s ease;
}

h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    letter-spacing: 2%;
    color: var(--primary-color);
}

h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: var(--primary-color);
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    letter-spacing: 0%;
    color: var(--primary-color);
}

.work-card__header{
    display: flex;
    gap: 20px;
}

.avatar{
    width: 44px;
    height: 44px;
}

.work-card .btn-secondary{
    padding: 12px 146px;
    width: 380px;
    color: var(--secondary-color);
    background: white;
    border: 1px solid #1DBF73
}

.work-card .btn-secondary:hover{
    background-color: var(--secondary-color);
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.card-view-all{
    background: #F2F0FE;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: var(--primary-color);
    border: 1px solid #F2F0FE;
    border-radius: 20px;
}

.card-view-all:hover{
    font-size: 20px;
    border-color: var(--secondary-color);
    transition: border-color 0.5s ease, font-size 0.5s ease;
}

.card-view-all a:visited{
    color: var(--secondary-color)
}

/* FREELANCERS */

.freelancers{
    h2{margin-top: 100px;}
    .freelancers-card{margin-top: 40px;}
}

.freelancers-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.freelancers-card__header{
    display: flex;
}

.freelancers-card__text{
    margin-left: 30px;
}

.freelancers-card__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
}

.freelancers-card__profession{
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: #FBA457;
    margin-top: 12px;
}

.freelancers-card__amount{
    margin-top: 10px;
}

.star{
    margin-top: 10px;
}

.freelancers-card{
    border: 1px solid #F2F0FE;
    box-shadow: 0px 16px 16px 0px #2222220A;
    padding: 20px;
    border-radius: 20px;
    border-width: 1px;
}

.freelancers-card:hover{
    border-color: var(--secondary-color);
    transition: border-color 0.5s ease;
}

.freelancers-card .btn-secondary{
    width: 380px;
    color: var(--secondary-color);
    background: white;
    border: 1px solid #1DBF73;
    padding: 12px 160px 12px 148px;
    margin-top: 30px;
}

.freelancers-card .btn-secondary:hover{
    background-color: var(--secondary-color);
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.freelancers .card-view-all{
    margin-top: 40px;
}

/* SEQUENCE */

.sequence{
    h2{margin-top: 100px;}
    p{margin-top: 20px;}
    .sequence-table{margin-top: 50px;
    margin-bottom: 100px;}
    h4{margin-top: 20px;}
}

.sequence-table{
    display: flex;
    gap: 61px;
}

/* BUSINESS */

.business{
    background: linear-gradient(180deg, #E2A401 -1.38%, #E6A901 17.18%, #E3A401 28.99%, #E5A800 43.17%, #EEB301 77.27%, #EFB400 100%);
    
    h2{
        margin-top: 50px;
        margin-bottom: 45px;
        color: #F6FAFD;
        }
    .business-subtitle{margin-top:50px}
    .btn-start{margin-top: 40px;}
}

.business .container{
    display: flex;
    justify-content: space-between;
}

.benefits{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.benefits-item{
    display: flex;
    gap: 30px;
    width: 533px;
    box-shadow: 0px 16px 16px 0px #0000000A;
    background: #F6FAFD;
    border-radius: 20px;
    height: 90px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    letter-spacing: 0%;
}

.benefits-item svg{
    margin-left: 20px;
}

.business-subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    letter-spacing: 2%;
    color: #F6FAFD;
}

.btn-start{
    border: 2px solid #5E4EDB;
    display: block;
    background: #5E4EDB;
    border-radius: 50px;
    padding: 20px 60px;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    letter-spacing: 2%;
    color: #FFFFFF;
    width: 221px;
    height: 70px;
}

.btn-start:hover{
    border-color;
    color: #5E4EDB;
    background-color: #FFFFFF;
    transition: background-color 0.5s ease ,border-color 0.5s ease, color 0.5s ease;
}

/* FOOTER */

footer{
    background: #F2F0FE;
}

.footer-columns{
    display: flex;
    justify-content: space-between;
}

.footer-column-item{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    letter-spacing: 0%;
    cursor: pointer;
}

.footer-column-item:hover{
    color: var(--secondary-color);
    transition: color 0.3s;
}

.footer-title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 700;
}

.social-icons{
    display: flex;
    gap: 30px;
}

.social-icons-item{
    fill: var(--primary-color);
    transition: fill 0.3s ease;    
}

.social-icons-item:hover{
    fill: var(--secondary-color);
    transition: fill 0.5s ease;
}

.footer-company{
    margin-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

/* ADAPTIVE */

@media (max-width: 1600px){
    .container{
        
    }
}

@media (max-width: 1280px){

}

@media (max-width: 1024px){

}

@media (max-width: 768px){

}

@media (max-width: 480px){

}

@media (max-width: 320px){

}
